# APP
APP_NAME=Motor de Voz en Streaming
APP_DESCRIPTION=Servicio de generación de voz en tiempo real mediante transmisión continua de texto
APP_DOCS_URL=/docs
APP_REDOC_URL=/redoc
APP_PORT=8000
APP_ENV=development     # development, testing, staging, production
APP_RELOAD=false
# APP_VERSION=0.1

# Api Key
API_KEY=xxx-xxx-xxx-xxxx

# Neo4j
# NEO4J_URI=bolt://localhost:7687
# NEO4J_USERNAME=neo4j
# NEO4J_PASSWORD=password

# Oracle
# ORACLE_USERNAME=oracle
# ORACLE_PASSWORD=oracle
# ORACLE_HOST=127.0.0.1
# ORACLE_PORT=1521
# ORACLE_SERVICE=ORCLCDB.localdomain
# ORACLE_POOL_SIZE=5
# ORACLE_MAX_OVERFLOW=10

# JWT / Auth
# AUTH_JWKS_BASE_URL=https://desapi-admin-ia.bdp.com.bo
# AUTH_JWT_ALGORITHMS=RS256
# AUTH_JWT_AUDIENCE=SYS-CLI360
# AUTH_JWT_ISSUER=https://desapi-admin-ia.bdp.com.bo

# CORS
CORS_ORIGINS=*                  # https://app.ejemplo.com,https://admin.ejemplo.com
CORS_METHODS=*                  # GET,POST,PUT,DELETE,OPTIONS
CORS_HEADERS=*                  # Content-Type,Authorization
CORS_ALLOW_CREDENTIALS=true

# LOGS
LOG_FILE_PATH=logs/app.log
LOG_LEVEL=DEBUG
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5

# ElevenLabs
ELEVENLABS_API_KEY=xxxxxx
ELEVENLABS_API_URL=https://api.elevenlabs.io/v1
ELEVENLABS_VOICE_ID=lLRFUZ2BvIHIFSbN96Q6
ELEVENLABS_MODEL=eleven_multilingual_v2
ELEVENLABS_TIMEOUT=30